.saved-news-header {
  margin: 0px;
  padding-top: 56px;
  padding-left: 16px;
  background: #ffffff;
}

.saved-news-header__subtitle {
  margin: 0px;
  padding-bottom: 16px;
  padding-top: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #1a1b2280;
}

.saved-news-header__title {
  margin: 0px;
  padding-bottom: 50px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #1a1b22;
}

.saved-news-header__keywords {
  margin: 0;
  padding-bottom: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

.saved-news-header__keywords-bold {
  font-weight: 700;
}

@media (min-width: 768px) {
  .saved-news-header {
    padding-top: 90px;
    padding-left: 40px;
  }

  .saved-news-header__title {
    width: 336px;
    padding-bottom: 16px;
  }

  .saved-news-header__subtitle {
    font-size: 14px;
    line-height: 24px;
  }

  .saved-news-header__keywords {
    width: 712px;
  }
}

@media (min-width: 1440px) {
  .saved-news-header {
    padding-left: 104px;
  }
}
