.about {
  background-color: #ffffff;
  padding: 32px 16px 104px;
}

.about__container {
  color: #1a1b22;
  display: block;
}

.about__avatar {
  display: flex;
  justify-content: center;
}

.about__avatar-image {
  width: 272px;
  height: 272px;
  border-radius: 100%;
  object-fit: cover;
}

.about__heading {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 46px;
  padding-top: 24px;
  padding-bottom: 16px;
}

.about__description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .about {
    padding: 40px;
  }

  .about__container {
    display: flex;
    gap: 32px;
  }

  .about__avatar {
    justify-content: flex-start;
    align-items: center;
  }

  .about__avatar-image {
    width: clamp(232px, 32.23vw, 464px);
    height: clamp(232px, 32.23vw, 464px);
  }

  .about__heading {
    padding-top: 0;
    padding-bottom: 24px;
    font-size: 30px;
  }

  .about__description {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .about {
    padding: 80px 216px 80px 104px;
  }

  .about__container {
    gap: 56px;
  }

  .about__avatar-image {
    width: 464px;
    height: 464px;
  }

  .about__heading {
    padding-top: 51px;
    font-size: 40px;
  }

  .about__description {
    font-size: 18px;
  }
}
