.site-navigation {
  margin: auto 0px;
}

.site-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 16px;
}

.site-navigation__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #b6bcbf;
  padding: 0 13px 27px 11px;
}

.site-navigation__link:hover {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  /* border-bottom: 3px solid black; */
}

@media (max-width: 768px) {
  .site-navigation__link {
    font-size: 16px;
    padding: 0 7px 20px 7px;
  }
}

@media (max-width: 320px) {
  .site-navigation {
    display: none;
  }
}
