.site-navigation {
  margin: 0px;
  padding: 0px;
  /* width: 400px; */
  /* border: 1px solid salmon; */
}

.site-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 16px;
  /* border: 1px solid salmon; */
}

.site-navigation__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  /* color: #b6bcbf; */
  color: black;
  transition: opacity 0.3s;
  padding: 23px 13px 27px 13px;
  border-bottom: 0px solid transparent;
}

.site-navigation__link:hover {
  opacity: 1;
  /* color: #ffffff; */
  /* border-bottom: 2px solid #ffffff; */
  border-bottom: 2px solid black;
}
