/* .site-navigation { */
/* border: 1px solid greenyellow; */
/* max-width: 400px; */
/* display: flex; */
/* align-items: center; */
/* max-height: 200px; */
/* } */

.site-navigation {
  border: 1px solid salmon;
}

.site-navigation__list {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.site-navigation__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #b6bcbf;
  transition: opacity 0.3s;
  padding: 23px 13px 27px 13px;
  border-bottom: 0px solid transparent;
}

.site-navigation__link:hover {
  opacity: 1;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
