.search {
  background-image: url('../../images/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.search__error {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 8px;
  font-size: 14px;
  color: #b6bcbf;
  padding-left: 24px;
}

.search__container {
  position: relative;
  width: 608px;
  margin: 0 auto;
  padding-bottom: 80px;
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.search__heading {
  width: 600px;
  margin: 0px;
  margin-bottom: 32px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  display: flex;
  justify-content: center;
}

.search__subheading {
  margin: 0px;
  margin-bottom: 64px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.search__input {
  width: 608px;
  height: 64px;
  padding: 21px 208px 21px 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border-radius: 100px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.search__input:hover {
  box-shadow: 0 0 0 1px rgba(209, 210, 214, 0.2);
}

.search__input::placeholder {
  color: #b6bcbf;
}

.search__button {
  width: 168px;
  height: 64px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 100px;
  background-color: #2f71e5;
  border: none;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  right: 0px;
}

.search__button:hover {
  background-color: #347eff;
}

.search__button:active {
  background-color: #2a65cc;
}

@media (max-width: 768px) {
  .search__container {
    width: 452px;
    padding-bottom: 48px;
    padding-top: 104px;
  }
  .search__heading {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 16px;
    width: 362px;
    height: 80px;
  }

  .search__subheading {
    width: 452px;
    margin-bottom: 48px;
  }

  .search__button {
    width: 160px;
    height: 56px;
  }

  .search__input {
    width: 448px;
    height: 56px;
  }
}

@media (max-width: 320px) {
  .search__container {
    width: 288px;
    padding-bottom: 32px;
    padding-top: 86px;
  }

  .search__heading {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
    width: 285px;
    height: 80px;
  }

  .search__subheading {
    width: 288px;
    margin-bottom: 98px;
    font-size: 20px;
    line-height: 24px;
  }

  .search__form-container {
    width: 288px;
    height: 128px;
    position: relative;
  }

  .search__input {
    width: 288px;
    height: 56px;
    padding: 17px 16px 15px 16px;
  }

  .search__button {
    width: 288px;
    height: 56px;
    bottom: 0px;
    padding: 16px 116px 16px 116px;
  }
}
