.preloader {
  height: 282px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f6f7;
}

.preloader__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.preloader__text {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
}

.preloader__circle {
  display: block;
  width: 74px;
  height: 74px;
  border-radius: 50%;

  background: conic-gradient(
    from 210deg,
    rgba(209, 210, 214, 0),
    rgba(209, 210, 214, 0.2) 120deg,
    rgba(26, 27, 34, 0.4) 200deg,
    rgba(26, 27, 34, 0.9) 300deg,
    #1a1b22
  );

  mask: radial-gradient(farthest-side, transparent calc(100% - 2px), black 0);

  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
