.header {
  margin: 0px;
  padding-left: 104px;
  padding-right: 104px;
  padding-top: 30px;
  padding-bottom: 26px;
  width: 100%;
  max-width: 1440px;
  position: absolute;

  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  border-bottom: 1px solid rgb(0, 0, 0);
  /* border: 1px solid orangered; */

  display: flex;
  justify-content: space-between;
  /* border: 1px solid greenyellow; */
  box-sizing: border-box;
}

.header__title {
  margin: 0px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* color: white; */
  color: black;
  /* border: 1px solid green; */
}
