.header {
  width: 100%;
  max-width: 1440px;
  height: 80px;
  margin: 0px;
  padding-left: 104px;
  padding-right: 104px;
  position: absolute;
  z-index: 2;

  background-color: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.header--saved {
  box-shadow: inset 0 -1px 0 #d1d2d6;
}

.header__title {
  margin: auto 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.header__title--saved {
  color: #1a1b22;
}

.header__logo-link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .header {
    height: 66px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 320px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
    height: 56px;
  }

  .header__title {
    font-size: 16px;
  }
}
