.header {
  width: 1000px;
  position: absolute;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 104px;
  padding-right: 104px;
  padding-top: 30px;
  padding-bottom: 26px;

  display: flex;
  justify-content: space-between;
}

.header__title {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0px;
}
