.news {
  padding-top: 32px;
  padding-bottom: 24px;
  background: #f5f6f7;
}

.news__title {
  width: 288px;
  margin: 0px auto;
  margin-bottom: 24px;
  padding: 0px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #1a1b22;
}

.news__list {
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.news__button {
  width: 288px;
  height: 56px;
  margin: 0 auto;
  margin-top: 16px;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background: #ffffff;
  color: #1a1b22;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  transition: background 0.15s;
}

.news__button:hover {
  background: #e8e8e8;
}

@media (min-width: 768px) {
  .news {
    padding-top: 0px;
  }

  .news__title {
    width: 548px;
    margin: 0px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 40px;
  }

  .news__button {
    width: 240px;
    height: 56px;
  }

  .news__list {
    margin: 0 40px;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }
}

@media (min-width: 1440px) {
  .news__button {
    width: 288px;
    height: 64px;
  }

  .news__title {
    padding-left: 104px;
    padding-top: 80px;
    padding-bottom: 64px;
  }

  .news__list {
    gap: 16px;
    margin: 0 104px;
  }
}
