.not-found {
  min-height: 374px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f6f7;
  padding: 32px 16px;
}

.not-found__title {
  text-align: center;
  margin-top: 32px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
}

.not-found__message {
  max-width: 320px;
  text-align: center;
  margin-top: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
}
